<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">


<profiles>
    <!--
    Repository group which contains Zanata snapshots and releases (before they sync to Central).
    Includes Zanata api, client, common, parent, but not server.
    See https://docs.sonatype.org/display/Repository/Sonatype+OSS+Maven+Repository+Usage+Guide#SonatypeOSSMavenRepositoryUsageGuide-4.MavenRepositories
    -->
    <profile>
        <id>oss-public</id>
        <activation>
            <property>
                <name>!oss.public.off</name>
            </property>
        </activation>
        <repositories>
            <repository>
                <id>oss-public</id>
                <name>oss-public</name>
                <url>https://oss.sonatype.org/content/groups/public/</url>
                <releases>
                    <enabled>true</enabled>
                </releases>
                <snapshots>
                    <enabled>true</enabled>
                </snapshots>
            </repository>
        </repositories>
        <pluginRepositories>
            <pluginRepository>
                <id>oss-public</id>
                <name>oss-public</name>
                <url>https://oss.sonatype.org/content/groups/public/</url>
                <releases>
                    <enabled>true</enabled>
                </releases>
                <snapshots>
                    <enabled>true</enabled>
                </snapshots>
            </pluginRepository>
        </pluginRepositories>
    </profile>
<!--
Needed for net.sf.okapi.steps:okapi-step-wordcount:0.9 (at least)
-->
    <profile>
	<id>zanata-repo</id>
	<activation>
	    <property>
		<name>!zanata.repo.off</name>
	    </property>
	</activation>
	<repositories>
	    <repository>
		<id>zanata-cloudbees-release</id>
		<name>zanata-cloudbees-release</name>
		<url>http://repository-zanata.forge.cloudbees.com/release/</url>
		<releases>
		    <enabled>true</enabled>
		</releases>
		<snapshots>
		    <enabled>false</enabled>
		</snapshots>
	    </repository>
	    <repository>
		<id>zanata-cloudbees-snapshot</id>
		<name>zanata-cloudbees-snapshot</name>
		<url>http://repository-zanata.forge.cloudbees.com/snapshot/</url>
		<releases>
		    <enabled>false</enabled>
		</releases>
		<snapshots>
		    <enabled>true</enabled>
		</snapshots>
	    </repository>
	</repositories>
	<pluginRepositories>
	    <pluginRepository>
		<id>zanata-cloudbees-release</id>
		<name>zanata-cloudbees-release</name>
		<url>http://repository-zanata.forge.cloudbees.com/release/</url>
		<releases>
		    <enabled>true</enabled>
		</releases>
		<snapshots>
		    <enabled>false</enabled>
		</snapshots>
	    </pluginRepository>
	    <pluginRepository>
		<id>zanata-cloudbees-snapshot</id>
		<name>zanata-cloudbees-snapshot</name>
		<url>http://repository-zanata.forge.cloudbees.com/snapshot/</url>
		<releases>
		    <enabled>false</enabled>
		</releases>
		<snapshots>
		    <enabled>true</enabled>
		</snapshots>
	    </pluginRepository>
	</pluginRepositories>
    </profile>
</profiles>

<pluginGroups>
    <pluginGroup>org.zanata</pluginGroup>
</pluginGroups>
</settings>
